<div class="container">
	 <h4>{{message}}!</h4>
	 <div class="form-inline well well-small">
	 	<label>Query : &nbsp;&nbsp;<input type="text" class="span11" ng-model="query" char-limit="50"></label>
		<pre>Query : {{ query | charLimit : 25}}</pre>
	 </div>
	 <div class="form-inline">
	 	 <label>Warning : <input type="text" class="input-xxlarge" ng-model="warning" /></label>
	 	 &nbsp;&nbsp;
	     <button class="btn btn-mini" ng-click="alerts.addWarning(warning)">Add warning</button>
	     <br/><br/>
	     <label>Error : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="input-xxlarge" ng-model="error" /></label>
	     &nbsp;&nbsp;
	     <button class="btn btn-mini" ng-click="alerts.addError(error)">Add error</button>
	     <br/><br/>
	     <label>Success : <input type="text" class="input-xxlarge" ng-model="success" /></label>
	     &nbsp;&nbsp;
	     <button class="btn btn-mini" ng-click="alerts.addSuccess(success)">Add success</button>
     </div>
</div>

<div class="container">
	<b>Interpolate eg. </b>{{ ': %VERSION%.' | interpolate }}<br/> 
</div>

<!-- 
<div class="form-inline">
	<label>Alert Message : <input type="text" class="input-xlarge" ng-model="alertMessage"></label>
	&nbsp;&nbsp;
	<button class='btn' ng-click="addAlert()">Add Alert</button>
</div>
-->